language: node_js
node_js:
  - "6.0.0"
addons:
  postgresql: "9.4"
before_script:
  - psql -c 'create database travis_ci_test;' -U postgres
  - psql -c 'create database travis_ci_test_readonly;' -U postgres
env: NODE_ENV=test
