'use strict';

const Nodal = require('nodal');

class {{= data.name }}Middleware {

  exec(controller, callback) {

    callback(null);
    return false;

  }

}

module.exports = {{= data.name }}Middleware;
