{
  "name": "{{= data.simpleName }}",
  "version": "0.0.0",
  "description": "{{= data.name }}",
  "author": "{{= data.author }}",
  "main": "cluster.js",
  "engines": {
    "node": "6.0.0"
  },
  "dependencies": {
    "nodal": "{{= data.version }}"
  },
  "devDependencies": {
    "chai": "~3.5.0",
    "mocha": "~2.4.5"
  },
  "scripts": {
    "test": "mocha ./test/runner.js",
    "start": "node cluster.js",
    "worker": "node worker.js"
  },
  "private": true
}
