
'use strict';

const Nodal = require('nodal');

class {{= data.name }}Renderware {

  exec(controller, data, callback) {

    callback(null, data);
    return false;

  }

}

module.exports = {{= data.name }}Renderware;
