module.exports = (function() {

  "use strict";

  const Nodal = require('nodal');

  class {{= data.name }}Task extends Nodal.Task {

    exec(args, callback) {

      console.log('{{= data.name}} task executed');
      callback();

    }

  }

  return {{= data.name }}Task;

})();
