{
  "name": "{{= data.simpleName }}",
  "version": "0.0.0",
  "description": "{{= data.name }}",
  "author": "{{= data.author }}",
  "main": "server.js",
  "engines": {
    "iojs": "2.2.1"
  },
  "dependencies": {
    "nodal": "latest"
  },
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1",
    "start": "node server.js --harmony_classes",
    "worker": "node worker.js --harmony_classes"
  },
  "private": true
}
