<div class="sidebar">
  <a href="http://www.nodaljs.com/"><img src="/static/images/nodal.png"/></a>
  <span class="tagline">a nodaljs application</span>
</div>
<div class="welcome">
  <h1>Welcome to <strong>Your Nodal Application</strong>!</h1>
  <br/>
  <span>View the controller that renders this template <span class="file">./app/controllers/index_controller.js</span> to change the data sent to it, or modify the template directly.</span>
  <br/>
  <br/>
  <span>We really recommend you start playing with creating RESTful API endpoints using the built in commands:</span>
  <br/>
  <ul class="steps">
    <li>nodal db:create</li>
    <li>nodal db:prepare</li>
    <li>nodal g:model --user</li>
    <li>nodal g:controller v1 --for:user</li>
    <li>nodal db:migrate</li>
  </ul>
  <span>To get a good feeling about how Nodal works and its intended use.</span>
  <br/>
  <br/>
  <span>You can see all of the built in nodal commands by running <span class="command">nodal help</span></span>
  <br/>
  <br/>
  <strong>Important Note:</strong>
  <br/>
  <span>For database usage, please make sure you have Postgres installed. You must also uncomment <span class="command">this.useDatabase</span> and the
    database import in <span class="file">./app/app.js</span>. Please also check to make sure your database credentials are correct in <span class="file">./config/db.json</span></span>
  <span class="signature">- Happy Developing!</span>
</div>
