<!DOCTYPE html>
<html>
  {{= this.partial('head.html') }}
  <body>
    <div class="container">
      <div class="sidebar">
        <a href="http://www.nodaljs.com/"><img src="/static/images/nodal.png"/></a>
        <span class="tagline">a nodaljs application</span>
      </div>
      <div class="welcome">
        <h1>Welcome to <strong>Your Nodal Application</strong>!</h1>
        <br/>
        <span>View the controller that renders this template <span class="file">./app/controllers/index_controller.js</span> to change the data sent to it, or modify the template directly.</span>
        <br/>
        <br/>
        <span>We really recommend you start playing with creating RESTful API endpoints using the built in commands:</span>
        <br/>
        <ul class="steps">
          <li>nodal db:create</li>
          <li>nodal db:prepare</li>
          <li>nodal g:model --user</li>
          <li>nodal g:controller v1 --for:user</li>
          <li>nodal db:migrate</li>
        </ul>
        <span>To get a good feeling about how Nodal works and its intended use. :)</span>
        <br/>
        <br/>
        <strong>Important Note:</strong>
        <br/>
        <span>Make sure you have Postgres installed, this.useDatabase and your
          database imports are uncommented in <span class="file">./app/app.js</span>, and your login
          credentials are correct!</span>
        <span class="signature">- Happy Developing!</span>
      </div>
    </div>
  </body>
</html>
