module.exports = (function() {

  "use strict";

  const Nodal = require('nodal');

  class {{= data.name }}Initializer {

    exec(app, callback) {

      callback(null);
      return false;

    }

  }

  return {{= data.name }}Initializer;

})();
