module.exports = (function() {

  "use strict";

  const Nodal = require('nodal');

  class {{= data.name }}Middleware {

    exec(controller, data, callback) {

      callback(null, data);
      return false;

    }

  }

  return {{= data.name }}Middleware;

})();
