module.exports = (function() {

  'use strict';

  const Nodal = require('nodal');

  class {{= data.name }} extends Nodal.Model {

    constructor() {
      super();
    }

    /* Model Extensions */

  }

  {{= data.name }}.prototype.schema = Nodal.my.Schema.{{= data.name }};

  {{= data.name }}.prototype.externalInterface = [
{{~ data.columns :value:index}}    '{{= value }}'{{? data.rows.length - 1 !== index }},{{?}}{{~}}
  ];

  return {{= data.name }};

})();
